<table id="clientList" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>NIT</th>
            <th>Email</th>
            <th>Editar</th>
        </tr>
    </thead>
</table>