
@{
    ViewBag.Title = "Agregar Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_ServicePartial")

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            clientViews.endpoint = "@ViewBag.endpoint"
            $("#btnGuardar").on("click", function () {
                clientViews.saveClient();
                return false;
            });

            $("#formSaveClient").submit(function (e) {
                e.preventDefault();
            });
        })
    </script>
}

