@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editar servicio";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_ServicePartial")

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            serviceViews.serviceID = "@Model";
            serviceViews.endpoint = "@ViewBag.endpoint"
            $("#btnGuardar").on("click", function () {
                serviceViews.saveService();
                return false;
            });

            $("#formSaveService").submit(function (e) {
                e.preventDefault();
            });

            serviceViews.initEdit();
        })
    </script>
}